<!DOCTYPE html>
<html>
<head>
    <title>Visualizador CSV</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    <link rel="stylesheet" href="https://bootswatch.com/5/vapor/bootstrap.min.css">
</head>
<body>
    <div class="center-box">
        <h1>Visualizador CSV</h1>
        <h2>Alunos</h2>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Idade</th>
                    <th>Peso</th>
                    <th>Altura</th>
                </tr>
            </thead>
            <tbody>
                {% for row in data %}
                <tr class="table-dark">
                    <td>{{ row.Nome }}</td>
                    <td>{{ row.Idade }}</td>
                    <td>{{ row.Peso }}</td>
                    <td>{{ row.Altura }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <br>
        <a href="{% url 'index' %}" class="back-home-button">Voltar para Home</a>
    </div>
</body>
</html>